*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f9f9f9;
}

header{
  background-color: #000;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

header .logo{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

header ul{
  display: flex;
  gap: 30px;
}

header ul li {
  font-size: 16px;
  list-style: none;
}

header ul li a{
  color: #fff;
  text-decoration: none;
}

main{
  width: 80%;
  height: 900px;
  margin: 50px auto;
  background-color: teal;
  padding: 50px;
}

footer{
  padding: 20px 100px;
  background-color: black;
  text-align: center;
}

footer p{
  color: #fff;
}